﻿@using GtxApp.Models
@model Book

<h2>Edit Book</h2>

<div class="row">
    <div class="col-md-6">

        <form method="post" asp-controller="Books" asp-action="Edit">
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            <div class="form-group">
                <label>Title</label>
                <input type="text" asp-for="Title" value="@Model.Title" class="form-control" placeholder="Enter Book Title" />
            </div>

            <br />
            <div class="form-group">
                <label>Author</label>
                <input type="text" asp-for="Author" value="@Model.Author" class="form-control" placeholder="Enter Author Name" />
            </div>

            <br />
            <div class="form-group">
                <label>Publisher</label>
                <input type="text" asp-for="Publisher" value="@Model.Publisher" class="form-control" placeholder="Enter Publisher Name" />
            </div>


            <br />
            <div class="form-group">
                <label># of Copies</label>
                <input type="number" asp-for="Availablecopies" value="@Model.Availablecopies" class="form-control" placeholder="Enter Available Copies" />

            </div>

            <br />
            <button type="reset" class="btn btn-danger">Reset</button>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>
    <div class="col-md-6"></div>
</div>