﻿@using GtxApp.Models
@model List<Book>

<h3>Books</h3>

<div style="margin-top:50px;">

    @if (ViewData["msg"] != null)
    {
        <div class="alert alert-primary" role="alert">@ViewData["msg"].ToString()</div>
    }

    @if (ViewData["error"] != null)
    {
        <div class="alert alert-danger" role="alert">@ViewData["error"].ToString()</div>
    }

    <a class="btn btn-primary" asp-controller="Books" asp-action="Create">+ New Book</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th># of Copies</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @* the following is razor code block*@
            @{
                int counter = 1;
            }

            @foreach (var item in Model)
            {

                <tr>
                    <td>@counter</td>
                    <td>@item.Title</td>
                    <td>@item.Author</td>
                    <td>@item.Publisher</td>
                    <td>@item.Availablecopies</td>
                    <td>
                        <a class="btn btn-success" asp-controller="Books" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="Books" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>

                counter++;

            }

        </tbody>
    </table>
</div>

