﻿@using GtxApp.Models
@model Customer

<h2>Confirmation: Do you want to DELETE this Customer?</h2>


<div style="margin-top:50px;">
    <form method="post" asp-controller="customers" asp-action="Delete">
        <div class="row">
            <div class="col-md-6">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <div class="form-group">
                    <label>Full Name</label>
                    <input disabled asp-for="Fullname" value="@Model.Fullname" type="text" class="form-control" placeholder="Enter Customer name" />
                </div>
                <br />
                
                
                <button type="submit" class="btn btn-danger">Yes, Delete</button>



            </div>
            <div class="col-md-6">
            </div>
        </div>

    </form>
</div>