﻿@using GtxApp.Models
@model Customer

<h2>Edit Customer</h2>


<div style="margin-top:50px;">
    <form method="post" asp-controller="customers" asp-action="Edit">
        <div class="row">
            <div class="col-md-6">
                <input type="hidden" asp-for="Id" value="@Model.Id"/>
                <div class="form-group">
                    <label>Full Name</label>
                    <input asp-for="Fullname" value="@Model.Fullname" type="text" class="form-control" placeholder="Enter Customer name" />
                </div>
                <br />
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" value="@Model.Email" type="email" class="form-control" placeholder="Enter Email" />
                </div>

                <br />
                <div class="form-group">
                    <label>Mobile</label>
                    <input asp-for="Mobile" value="@Model.Mobile" type="text" class="form-control" placeholder="Enter Mobile +252xxxxxxxxx" />
                </div>

                <br />
                <div class="form-group">
                    <label>Address</label>
                    <textarea asp-for="Address" value="@Model.Address" cols="5" rows="4" class="form-control"></textarea>
                </div>

                <br />
                <button type="reset" class="btn btn-danger">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>



            </div>
            <div class="col-md-6">
            </div>
        </div>

    </form>
</div>