﻿@using GtxApp.Models
@model List<Customer>


<h3>Customers List</h3>

<div style="margin-top:50px;">
    @if(ViewData["msg"]!= null)
    {
        <div class="alert alert-primary" role="alert">@ViewData["msg"].ToString()</div>
    }

    @if (ViewData["error"] != null)
    {
        <div class="alert alert-danger" role="alert">@ViewData["error"].ToString()</div>
    }
    <a asp-controller="customers" asp-action="Create" class="btn btn-primary">+ Add Customer</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @* this is code block *@
            @{
                int counter = 1;
            }

            @foreach(var item in Model)
            {
                <tr>
                    <td>@counter</td>
                    <td>@item.Fullname</td>
                    <td>@item.Email</td>
                    <td>@item.Mobile</td>
                    <td>
                        <a class="btn btn-success" asp-controller="customers" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="customers" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                counter++;
                
            }
        </tbody>
    </table>
</div>